// @author: vincent
@import "~styles/color.sass"
.container
  position: relative

.cover
  position: relative

.title-footer
  margin-bottom: 20px

h2.sub-title
  margin: 0
  margin-bottom: 30px
  color: $global-blackColor
  font-size: 26px
  font-weight: 400

.nav-anchor
  position: relative

// .nav-anchor::before
//   position: absolute
//   top: 0
//   content: ' '
//   background-color: rgba(52, 154, 95, 0.34)
//   height: 70px
//   width: 100%
//   display: inline-block
