$inputRadius: 5px

$inputBorderWidth: 1px
$inputBorderColor: #999
$inputFocusingBorderColor: #888

$inputHeight: 46px
$inputLineHeight: 20px

$inputTextSize: 16px
$inputTextColor: #333
$inputPlaceholderColor: #999

$inputPaddingRight: 20px
$inputPaddingTop: 10px

$inputFocusingShadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6)


.inputer
  width: 100%
  height: $inputHeight
  line-height: $inputLineHeight
  font-size: $inputTextSize
  border: 1px solid $inputBorderColor
  border-radius: $inputRadius
  color: $inputTextColor
