$signupPanelWidth: 400px

.container
  background: #fff
  width: $signupPanelWidth
  margin: 0 auto
  padding: 10px
  position: relative
  .alert, .button
    margin: 10px
  .button
    &.bottom
      margin-top: 10px
      padding-top: 10px
      position: relative
      &::before
        content: ""
        border-top: 1px solid #dce0e0
        position: absolute
        left: 0
        right: 0
        top: 0
