.container
  position: relative
  padding-bottom: 40px
  &.fixed
    .header, .body
      transform: translate3d(0,0,0)
      position: fixed
      z-index: 1005
      top: 0
  .header
    position: absolute
    top: 0
    width: 368px
    height: 70px
  .body
    position: absolute
    top: 0
    width: 368px
    margin-top: 70px
    .report
      margin-top: 30px
    &.bottom
      position: absolute !important
