@import "~styles/color.sass"


.container
  margin-bottom: 40px
  .interval-line
    border-bottom: 1px solid $global-lineColor
    margin-bottom: 40px
  .input-header
    font-size: 16px
    font-weight: 400
    color: $global-middleBlack
    margin-bottom: 10px
    .input-limiter
      float: right
    .optional
      color: $global-middleBlack
    .helper
      color: $global-middleBlack
      margin-top: 10px
  .input-header-large
    font-size: 24px
    font-weight: 100
    margin-bottom: 40px
    .multiple
      font-size: 20px
      color: $global-middleBlack
    .helper
      font-size: 16px
      font-weight: 400
      color: $global-blackColor
  .input-control
    position: relative
  .helper-bottom
    color: $global-blackColor
    font-size: 14px
    margin-top: 10px
