.iot.footer
  .container
    .logo-container
      .partner 合作夥伴
      .logo
    .navs-container
      .navs
        .nav= link_to '關於ShareApp', 'https://www.shareapp.com.tw/about'
        .nav= link_to '前往網站', 'https://web.shareapp.com.tw'
