.title
  font-size: 40px
  margin: 0
  margin-bottom: 4px

.container
  position: relative


.activeText
  margin-left: 10px

.formGroup
  margin-bottom: 80px
  .isActive
    margin-bottom: 40px
  .policy
    margin-bottom: 40px
    .advanceDays
      margin-right: 10px
    .text
      margin-right: 10px
      color: #333
      font-size: 18px
    .rate
      margin-right: 10px
