@import "~styles/color.sass"

.button
  margin-top: 10px
.button
  &:first-child
    margin-top: 0px
.category-item
  cursor: pointer
  white-space: nowrap
  padding: 6px 12px
  border-radius: 4px
  &:hover
    background: #e7e7e7
.container
  padding: 10px
.middle-container
  position: absolute
  right: 100%
  top: 0
  z-index: 2
  .panel
    background: #fff
    border: 1px solid $global-lineColor
    border-radius: 5px
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14)
    margin-right: 4px
    padding: 10px
