@import "~styles/color.sass"

.header-note-container
  margin-bottom: 80px

.info-item
  position: relative
  .icon-container
    display: inline-block
    float: left
    width: 60px
    text-align: center
  .content-container
    float: left
    line-height: 30px
    font-size: 18px
    .label
      color: $global-blackColor
    .text
      color: $global-primaryColor

.detail
  color: $global-blackColor
  .price-detail
    padding: 20px 0
  .note
    font-size: 16px
    line-height: 22px


.payment-type-container
  font-size: 18px
  color: $global-primaryColor


.confirm-agree
  border-top: 1px solid $global-lineColor
  padding: 40px 0
  .agree-text
    margin-left: 10px
    font-size: 18px
    font-weight: 500
