@import "~styles/color.sass"

.container
  margin-bottom: 40px
  .control
    float: right
    button
      height: 52px
      color: $global-primaryColor
      .text
        vertical-align: middle
        font-size: 18px
        line-height: 18px
