.cityHeader
  width: 100%
  padding-top: 5px
  .backCitiesBtn
    display: inline-block
    cursor: pointer
    vertical-align: middle
  .cityText
    vertical-align: middle
    font-size: 22px


.areasWrapper
  composes: colsWrapper from '../styles.sass'
.areaContainer
  composes: colContainer from '../styles.sass'
.area
  composes: col from '../styles.sass'
