$titleColor: #444
$borderColor: #CECECE
$iconNameColor: #fff
.container
  margin-bottom: 29px
  border-bottom: 1px solid $borderColor
  .head
    height: 40px
    line-height: 40px
    .icon-container
      display: inline-block
    .title
      display: inline-block
      color: $titleColor
      font-size: 40px
      font-weight: 600
      vertical-align: middle
      margin-left: 30px
    .description
      display: inline-block
      color: #999
      font-size: 20px
      margin-left: 20px
      vertical-align: middle

  .filter
    margin-bottom: 20px
    .filterGroup
      float: right
      .filterBtn
        // temp
        display: inline-block
        vertical-align: middle
        margin-right: 20px
        border: 1px solid $borderColor
        border-radius: 3px
        .description
          display: inline-block
          vertical-align: middle
          padding: 13px 6px 13px 20px
        .arrowDown
          display: inline-block
          vertical-align: middle
          font-size: 16px
          padding-right: 13px
      .newWishBtn
        display: inline-block
        vertical-align: middle
