.container
  position: relative
  width: 100%
  .user-container
    position: relative
    padding: 10px
    border-bottom: 1px solid #efefef
    cursor: pointer
    background: #fff
    &:hover
      background: #efefef
    .avatar
      vertical-align: middle
      width: 30px
      height: 30px
      display: inline-block
    .name
      vertical-align: middle
      display: inline-block
      font-size: 14px
      margin-left: 5px
      width: 83px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
