@import "~styles/color.sass"

.walletnote-top-padding-style
  padding-top: 20px
.walletnote-pic-style
  float: left
.walletnote-content-style
  margin-left: 120px
  padding-bottom: 20px
  border-bottom: 1px solid $global-lineColor
.walletnote-date-style
  font-size: 16px
  font-weight: 400
  color: $global-primaryColor
.walletnote-text-style
  padding-top: 5px
  white-space: nowrap;
  overflow: hidden
  text-overflow: ellipsis
  font-size: 20px
  font-weight: 400
  color: $global-blackColor
.walletnote-hint-style
  padding-top: 10px
  font-size: 14px
  font-weight: 400
  color: $global-placeholder
