.title
  composes: title from '../MainForm/styles.sass'

.noticeList
  margin: 0
  padding-left: 30px
  margin-bottom: 30px
  & > li
    font-size: 16px
    line-height: 26px

.gallery
  .imageUploader
    display: inline-block
    height: 160px
    width: 160px
    border: 1px dashed #949494
    &:not(:last-child)
      margin-right: 20px
