.container
  padding: 20px 0
  border-bottom: 1px solid #999
  position: relative
  .avatar
    position: absolute
    top: 20px
    left: 0
    width: 60px
    height: 60px
    border-radius: 50%
    background-color: #888
    background-size: cover
    background-position: center
  .content-wrapper
    margin-left: 80px
    font-size: 16px

.content-header
  margin-bottom: 20px
  .name
    font-weight: 600
    margin-right: 10px
  .relative-time
    color: #999

.content-textarea
  color: #444
  font-size: 16px
  .displayMore
    border: 0
    margin: 0
    padding: 0
    background-color: transparent
    cursor: pointer
    font-weight: 500
    outline: 0
    &:hover
      text-decoration: underline
