@import "~styles/color.sass"

.container
  .filter-button
    float: right
    border: 1px solid $global-middleBlack
    padding: 12px 22px
    color: $global-middleBlack
    border-radius: 5px
    span, svg
      vertical-align: middle
    span
      margin-right: 10px
