@import "~styles/color.sass"

.container
  list-style: none
  margin: 0
  padding: 0
  .list-item
    padding: 17px 30px 17px 46px
    cursor: pointer
    color: $global-blackColor
    line-height: 16px
    font-size: 16px
    &:hover
      color: $global-primaryColor
