.modal
  outline: none
.overlay
  position: fixed
  top: 70px
  left: 265px
  width: 430px
  bottom: 20px
  z-index: 3000
  border: 1px solid #CECECE
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2)
  background: #fff

.scroller
  overflow-y: auto
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
