// @author: vincent
@import "~styles/color.sass"
.container
  margin-top: 20px
  .title
    line-height: 20px
    font-size: 18px
    margin-bottom: 15px

.tb-container
  border: 1px solid $global-placeholder
  border-radius: 4px
  margin-bottom: 15px
  .textbox
    z-index: 1
    padding: 14px 15px
    font-size: 17px
    .placeholder
      position: absolute
      top: 19px
      left: 19px
      font-size: 20px
      line-height: 20px
      color: $global-placeholder

.editable
  position: relative
  z-index: 100
  outline: 0
  div, p
    margin: 0
    padding: 0
.editable-placeholding
  composes: editable
  color: $global-placeholder

.tb-container-focusing
  composes: tb-container
  border: 2px solid $global-blackColor
  .textbox
    padding: 18px
    .placeholder
      top: 18px
      left: 18px


.controller
  min-height: 70px
  // TODO: flex display research
  // display: -webkit-box
  // display: -moz-box
  // display: -ms-flexbox
  // display: -webkit-flex
  // display: flex
  .buttons
    margin: 10px 0px 0px 0px
    float: right

.button
  margin: 0
  border: 0
  outline: 0
  cursor: pointer
  padding: 16px 27px
  font-size: 18px
  line-height: 20px
  border: 1px solid $global-placeholder
  border-radius: 5px

.cancel
  composes: button
  background-color: #fff
  margin-right: 20px
.comment
  composes: button
  background-color: $global-primaryColor
  color: #fff
