@import "../../../../components/color.sass"

$itemWidth: 60px
.container
  padding: 14px 24px
  cursor: pointer
  &:hover
    background: $header-search-result-hover
  .body
    margin-left: $itemWidth
    min-height: $itemWidth
    padding: 0px 16px
    .name, .price
      font-size: 14px
    .name
      color: #333
      margin-bottom: 10px
      line-height: 18px
      min-height: 36px
    .price
      font-weight: 600
      line-height: 14px
      color: #666
  .avatar
    width: $itemWidth
    height: $itemWidth
    float: left
