@import "~styles/color.sass"

.container
  .icon, .title, .subtitle
    display: inline-block
    vertical-align: middle
  .icon
    width: 40px
    margin-right: 5px
    > svg
      vertical-align: middle
  .title
    color: $global-blackColor
    font-size: 40px
    font-weight: 600
  .subtitle
    color: $global-placeholder
