// @author: vincent
@import "~styles/color.sass"
.container
  .location, .category
    display: inline-block
    .icon
      display: inline-block
      vertical-align: middle
      color: $global-placeholder
    .text
      display: inline-block
      vertical-align: middle
      color: $global-blackColor
      font-weight: 300
      font-size: 17px
      margin: 0px 20px 0px 6px
  .category
    .icon, .text
      color: $global-primaryColor
