.container
  padding-bottom: 20px
  border-bottom: 2px solid #dcd6d6

.iconSet
  position: relative
  display: inline-block

.icon
  position: absolute
  display: inline-block
  width: 24px
  height: 24px

  background-position: center
  background-size: cover

.text
  color: #999
  font-weight: 300
  font-size: 20px
  line-height: 24px
  margin-left: 30px

.location
  composes: iconSet
  margin-right: 25px
  .icon
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAB00lEQVRIS61WwXHCMBCMefANHQQ6IBWEVBBTQfAH26+UkKSD/MD+mFQQU0FIBUkqCHQAXz9w9hgpI8ydJDO5GUaMvdLq9lYnBxceURRFr6qqO0DDuq57NCUIgi2GstvtLqMoov/WCFyALMtCYAr8DgRMEEkUx3FpW8tKBJInTH50bUa9fwYZ4dkQiVQmb54kGjaWMmOJVE1+BLk2atUrTkbUbMDVjCWazWaTTqdDdTFjt9/vwzRNV/QQmBEwVJdLEwRMBMyiuQmWaD6fl3AVuewvsMCtJtEPFdm7iYMrl0mSkIGOgiVCfWjXNwZyA+37XL2AJdeZWX0AOzqLCLtcY5eDfyeCdC+Q7uEc6TCHtblkBir0kfZYYIs6jRtmIPsfHWRs8Ho6nX55SUcgaL/GwFpYLXLSKSDxNyQechKLB1awOLeG6UzW2gRwtSApK45QdKaTqGVWYvtxEjlqZWbFnh0T4LwmfLLiuoa360wg0ylaZeMlHYG4nqaZfLLxJrLUylkbvSFnjTSQq5V0JbQ6sBy40al36NLSd8TJdO+MlHwLjPdqlVcQTaytwnjZloguNP0dYT2gZ9lbT8rzfIjG+XlwkdClpQxbZaTkW9HI3aI2GX8B+i7XG0iAAbcAAAAASUVORK5CYII=)

.ordered
  composes: iconSet
  .icon
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAACPUlEQVRIS71WS1LCQBA1LNgaTyCcwHAC4QTiCUw2fFboCYQTCCs+G+AE5AbiCcQTCCcwLmEBvpeaUEmY9GDKkqoUFNPdr/v1685YF//0sfLiTKdTe7fbdQ6Hg2tZVglxVnj8ZrPZ08XMDTQajVYAuNEEXQGskv4/F9B4PK4j0EJg4wlg/fh5JtBwOKwWCgVS4yDzAE7r/X4/aLfbSwZART7+v8sAewNQ1QiEjB9h9JIRJMwWiZSQCPtyqbELYHMlAqlKXiWRoLIaK0NCM9g9aGy/AWSLQIJz3G+OQK7QKzN1cGYPbqWK0Ld1q9UqTyYTB7/fNbY9JNI1VWQEQoCQGjVLX2kgUFsGteu/AAqp0fUTFQ5QLcWU+JzIG7LtQ7YdA3VhMAC5UN40ZrtBAiWd7wmQwPvRH4lUGo3GSjNLJyKInLQDa1BeqDg1R5/p7EHdEonMYDMXe8RD1WQ2Mz2Mm2Kx6HieF5jGgMoEYDcCzFxBGdsh2gpcT+JQx6rxkZz3W6B7ZOgr2lwEo7p0KyjBKJWoBaIgMAsL9Z45OpF/PF40I6R4u912TSplgAQQ5wJOz3iqBnkTsBdtcrWKZkJ1mxBIZcYKRAANeMg/xSEs42+wU7fU3LCxiW0rVZQ6C5BgjXOFyro4i5Jd4jfftn5I3TlL1ATK3mFT1CQ7Ah1Mgc45R+bitYBAHMzrc4Jl2aCiD1TkiBWpHpHHXGAEwfC67JEIFB0qwLq6jNj4ttPXKQblRQXfFACvW74JIIr/A9IQP+loeAPtAAAAAElFTkSuQmCC')
