.container
  width: 245px
  padding-top: 30px
  margin-bottom: 50px
  background-color: #fafafa

.categories
  margin: 0
  padding: 0
  list-style: none

.category
  position: relative
  padding-left: 25px
  padding-right: 25px
  padding-bottom: 25px

.active-category-inner
  color: #222

.sub-category
  padding: 20px 0 0 0

.active-subcate-inner
  color: #333

.icon
  display: inline-block
  width: 28px
  height: 20px
  line-height: 1
  margin-right: 20px
  font-size: 20px
  text-align: right

.text
  display: inline-block
  height: 20px

.subcates
  list-style: none
  padding-left: 50px

.link
  color: #888
  &:hover
    color: #888
