ul.container
  padding: 20px 0
  list-style: none
  li.listItem
    display: block
    white-space: nowrap
    & > a, & > button
      color: #333
      font-size: 14px
      .linkContent
        padding: 10px 30px
    &:hover
      background: #EDF5F6
