.boundary
  .head-style
    float: left
    width: 50px
    height: 50px
  .board-style
    margin-left: 70px
  .name-style
    font-size: 18px
    font-weight: 200
    color: #333333
  .phone-style
    font-size: 18px
    font-weight: 200
    color: #333333
  .panel-style
    height: 60px
  .hint-style
    float: left
    font-size: 16px
    font-weight: 200
    color: #999999
  .chat-btn-style
    float: right
    padding-top: 5px
    margin-left: 220px
