.table
  width: 100%
  font-size: 18px
  tr
    th, td
      padding: 30px 0
      vertical-align: top
      text-align: left
    th
      font-weight: 500
    td
      font-weight: 300
      color: #444
      border-bottom: 1px solid #e6e6e6

    &:last-child
      td
        border-bottom: 0
