.container
  padding: 50px
  &::before
    content: ""
    position: absolute
    width: 200%
    height: 200%
    top: -50%
    left: -50%
    z-index: -1
    // background: #fff url('./bg1.jpg') center center no-repeat
    transition: all 3s
    // -webkit-transform: rotate(-30deg);
    // transform: rotate(-30deg);


.publish-icon
  display: table-cell
  text-align: center
  vertical-align: middle
  border-radius: 50%
  border: 1px solid #333

  width: 54px
  height: 54px
