@import "~styles/color.sass"

.container
  position: relative
  padding: 10px 0
  margin: 30px 0
  .avatar
    float: left
    display: inline-block
    width: 61px
    height: 61px
  .profile-info
    color: $global-blackColor
    margin-left: 80px
    font-size: 18px
    .username
      line-height: 25px
    .user-id-container
      line-height: 25px
      .user-id
        margin-right: 20px
        display: inline-block
        vertical-align: bottom
