@import "../input.sass"
$unitWidth: 15px

.inputControl
  position: relative

.inputBox
  composes: inputer
  margin-bottom: 20px
  position: relative
  .inputField
    &::placeholder
      color: $placeholderColor

.inputBoxFocus
  composes: inputBox
  border-color: $inputFocusingBorderColor
  box-shadow: $inputFocusingShadow
  .hash
    color: $inputTextColor
  .inputField
    &::placeholder
      color: $focusingPlaceholderColor

.hash
  user-select: none
  display: inline-block
  position: absolute
  top: $inputPaddingTop
  left: $inputPaddingRight
  color: $inputPlaceholderColor
  width: $unitWidth
  height: ($inputHeight - ($inputBorderWidth * 2)) - ($inputPaddingTop * 2)
  border: $inputBorderWidth solid transparent

.inputField
  border: 0
  padding: 0
  margin: 0
  outline: 0
  width: 100%
  height: $inputHeight - ($inputBorderWidth * 2)
  border-radius: $inputRadius - $inputBorderWidth
  padding: $inputPaddingTop $inputPaddingRight $inputPaddingTop ($unitWidth + $inputPaddingRight)
