.thumbDropzone
  position: relative
  display: block
  border: 1px dashed #949494
  cursor: pointer
  &:hover
    border: 1px dashed #222
    .coverLabel
      background: rgba(0, 0, 0, 0.46)
      color: #fff
    .cameraLabel
      .noticeHelper
        color: #222

.cameraLabel
  text-align: center
  position: relative
  top: 40px
  .noticeHelper
    margin-top: 10px
    font-size: 15px
    color: #666
