.noticeList
  margin: 0
  padding-left: 30px
  margin-bottom: 30px
  & > li
    font-size: 16px
    line-height: 26px
.option
  margin-bottom: 20px
.option-label
  margin-left: 10px

.assign-address
  margin-left: 20px
  .assign-cityarea
    width: 300px
    margin-bottom: 20px
  .assign-address-detail
    width: 500px
