.container
  min-height: 45px
  width: 100%
  position: relative
  .user
    position: relative
    height: 45px;
    padding: 8px 0 7px 0
    .avatar
      background: #fff center/cover no-repeat
      border-radius: 50%
      display: inline-block
      width: 30px
      height: 30px
      float: left
    .username
      font-weight: 500
      font-size: 14px
      margin-left: 35px
      line-height: 30px
      color: #444444
  .contact
    position: absolute
    right: 0
    top: 0
    border: 1px solid #666
    height: 45px
    padding: 5px 16px
    border-radius: 4px
    .icon
      display: inline-block
      width: 33px
      height: 33px
      background: url('./talk-bubble.png') center/cover no-repeat
