.imageDrop
  position: relative
  display: block
  height: 160px
  width: 160px

.imageDropzone
  composes: imageDrop
  border: 1px dashed #949494
  cursor: pointer
.imageDropzone:hover
  border: 1px dashed #222
  .coverLabel
    background: rgba(0, 0, 0, 0.46)
    color: #fff
  .cameraLabel
    .noticeHelper
      color: #222

.cameraLabel
  text-align: center
  position: relative
  top: 40px
  .noticeHelper
    margin-top: 10px
    font-size: 15px
    color: #666
