@import "~styles/color.sass"

.sue-form-content-border
  padding: 0px 120px 30px 120px
  font-weight: 400
  .sue-form-header
    font-weight: 600
    font-size: 40px
    line-height: 100px
  .sue-form-section-background
    padding-top: 20px
    border-bottom: 1px solid $global-lineColor
  .sue-form-section-title
    display: inline-block
    font-size: 25px
    line-height: 40px
  .sue-form-section-subtitle
    display: inline-block
    font-size: 18px
    line-height: 40px
  .sue-option-background-style
    padding: 20px 0px 30px 0px
  .sue-option-content-style
    padding: 5px 0px 10px 0px
  .sue-red-text-hint
    padding: 40px 0 40px 0px
    color: $global-colorDanger
    font-size: 18px
  .sue-gallery-container-style
    padding-top: 40px
  .sue-checkbox-container-style
    padding-top: 80px
  .sue-checkbox-text-style
    padding-left: 10px
    font-size: 18px
    color: $global-blackColor
  .sue-form-botton-style
    display: inline-block
    padding: 20px 40px 10px 0px
