<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    </head>
    <body>
      <div>讀取中...請您耐心等待</div>
        <script type="text/javascript">
          window.addEventListener('load', function() {
            console.log('onLoad called');
            document.cookie='<%= @storename %>'
            document.cookie='<%= @storeid %>'
            document.cookie='<%= @storeaddress %>'
            localStorage.setItem('711_callback','done');
            console.log(document.cookie);
            console.log(localStorage);
          });
        </script>
    </body>
</html>
