// @author: vincent
@import "~styles/color.sass"
$signupPanelWidth: 700px

.container
  background: #fff
  width: $signupPanelWidth
  margin: 0 auto
  padding: 20px
  position: relative
  .header
    padding: 15px 25px
    text-align: center
    .headerTitle
      text-align: center
      display: inline-block
      vertical-align: middle
      font-size: 40px
      font-weight: 600
  .top-category
    display: inline-block
    width: 140px
    float: left
  .category
    display: inline-block
    width: 480px
    float: right
