.container
  position: relative

.cover
  position: relative

.breadcrumbs
  padding-top: 20px
  padding-bottom: 20px

.title-footer
  margin-bottom: 20px

h2.sub-title
  margin: 0
  margin-bottom: 30px
  color: #333
  font-size: 26px
  font-weight: 400
