@import "~styles/color.sass"

.container
  color: $global-blackColor
  font-size: 16px
  padding: 20px 10px
  .avatar
    display: inline-block
    width: 60px
    height: 60px
    float: left
  .content-wrapper
    margin-left: 80px
    min-height: 60px
    .header
      position: relative
      color: $global-blackColor
      font-size: 14px
      line-height: 16px
      .name
        font-weight: 600
      .time
        color: $global-placeholder
      .stars
        position: absolute
        top: 0
        right: 0
    .text
      position: relative
