@import "../input.sass"

$arrowSize: 30px
$buttonZindex: 1001
$dropdownZindex: 1000

.input
  width: 100%
  height: $inputHeight
  line-height: $inputLineHeight
  font-size: $inputTextSize
  font-weight: 300
  position: relative
  border-radius: $inputRadius
  .innerWrapper
    padding: $inputPaddingTop $inputPaddingRight

    text-align: left
    border: 1px solid $inputBorderColor
    border-radius: $inputRadius
    color: $inputTextColor

    position: relative
    z-index: 1
    height: 100%
    background-color: #fff
    .placeholder
      color: $placeholderColor

    .dropdownArrow
      float: right
      margin: (($inputHeight - ($inputPaddingTop * 2)) - $arrowSize) / 2

.inputFocusing
  composes: input
  border-bottom: 0
.inputFocusing
  box-shadow: $inputFocusingShadow
  .innerWrapper
    border-color: $inputFocusingBorderColor
    z-index: $buttonZindex



.dropdown
  width: 100%
  // min-width: 500px
  background-color: #fff
  position: absolute
  z-index: $dropdownZindex
  left: 0
  top: 100%
  margin-top: -1px
  margin-bottom: 20px
  border: 1px solid $inputBorderColor
  text-align: left
  cursor: default
  border-bottom-left-radius: $inputRadius
  border-bottom-right-radius: $inputRadius
  box-shadow: $inputFocusingShadow
