.iot.footer
  position: absolute
  left: 0
  right: 0
  bottom: 0
  background: #fff
  padding: 25px 0
  .container
    width: 500px
    margin: 0 auto
    position: relative
    .logo-container
      border-right: 1px solid #CECECE
      width: 38%
      display: inline-block
      vertical-align: middle
    .navs-container
      display: inline-block
      vertical-align: middle
      width: 60%

  .partner
    font-size: 16px
    line-height: 20px
    color: #999
    margin: 9px 0

  .logo
    background: transparent center/cover no-repeat
    background-image: image-url('logo.png')
    width: 130px
    height: 42px

  .navs
    .nav
      display: inline-block
      border-right: 1px solid #CECECE
      padding: 5px 20px
      padding-right: 20px
      vertical-align: middle
      a
        text-decoration: none
        color: #31ABBA
