.pay.iot.container
  padding: 0px 40px
  h1.title
    border-bottom: 1px solid #CECECE
    padding: 20px 0
  .row-header
    .title.black-color
      font-size: 26px
      span.helper.danger-color
        font-size: 16px
  .row-body
    padding: 20px 0
  .payment-detail
    padding: 15px
  .contact-detail
    padding: 15px
