#request_page
  width: 700px
  margin: auto
  .board
    background: #FFF
    padding: 0px 20px 40px 20px
    margin: 40px 0px
    .title
      font-size: 25px
      line-height: 50px
      margin: 10px 0px
      text-align: center
    .subtitle
      border-top: 1px solid #999
      padding-top: 10px
      margin: 0px 0px 10px 0px
      .subtitle-text
        margin-left: 5px
        font-size: 20px
      .subtitle-hint
        font-size: 12px
        color: #F26363
    .blue-background
      background: #F5FAFA
      margin-bottom: 20px
    .table
      width: 620px
      margin: auto
      font-weight: 200
      tr
        th, td
          padding: 10px 0
          vertical-align: top
          text-align: left
        td
          font-weight: 200
          word-break: break-word
    .board-radio
      margin: 10px 20px
    .board-visible
      margin: 0px 20px
      visibility: visible
      height: auto
    .board-hidden
      margin: 0px 20px
      visibility: hidden
      height: 0px
    #login-board
      margin: 0px 20px
      .form-text
        margin-left: 20px
        font-weight: 200
        display: inline-block
        min-width: 60px
      .form-button
        margin: 10px 0px 0px 85px
        font-size: 14px
        font-weight: 200
        padding: 5px 15px
        background: #53BECE
        color: white
        border-radius: 6px
    #create-board
      margin: 0px 20px
      .form-text
        margin-left: 20px
        font-weight: 200
        display: inline-block
        min-width: 115px
      .form-button
        margin: 10px 0px 0px 140px
        font-size: 14px
        font-weight: 200
        padding: 5px 15px
        background: #53BECE
        color: white
        border-radius: 6px
    .form-top-space
      margin-top: 10px
    .field_with_errors
      display: inline-block
    .board-input
      width: 200px
      margin-bottom: 5px

    .hidden
      visibility: hidden
      width: 0px
      display: inline-block
