@import "~styles/color.sass"

.noticeList
  margin: 0
  padding-left: 30px
  margin-bottom: 30px
  & > li
    font-size: 16px
    line-height: 26px

.footer
  border-top: 1px solid $global-lineColor
  padding-top: 50px
