@import "~styles/color.sass"

$favoriteColor: #999
$favoritedColor: #FC5659

.container
  position: relative
  width: 100%
  .cover
    margin-bottom: 15px
  .title
    font-size: 16px
    line-height: 30px
    color: $global-blackColor
    white-space: nowrap
    overflow-x: hidden
    text-overflow: ellipsis
  .price
    font-size: 18px
    font-weight: 600
    margin-bottom: 15px
    color: $global-primaryColor
  .footer
    display: table
    width: 100%
    margin-bottom: 15px
    .owner
      float: left
      .avatar, .username
        display: inline-block
        vertical-align: middle
      .avatar
        width: 30px
        height: 30px
      .username
        color: $global-blackColor
        margin-left: 8px
        font-size: 14px
    .favorite
      float: right
      .favoriteCount, .favoriteHeart
        display: inline-block
        vertical-align: middle
        color: $favoriteColor
      .favoriteCount
        font-size: 14px
        margin-right: 4px
      button.favoriteHeart
        padding-bottom: 2px
        height: 30px
        &.active
          color: $favoritedColor
    .delete
      float: right
      margin-top: 4px
      .deleteBtn
        display: inline-block
        vertical-align: middle
        color: $favoriteColor
        &:hover
          color: $global-colorHeart
      .delete-text
        vertical-align: middle
        &:hover
          color: $global-colorHeart
