.container
  margin-bottom: 80px
  .label, .labelHelper
    margin-left: 10px
  .labelHelper
    font-size: 15px
    color: #666
  .slider
    width: 400px
    margin-top: 20px
    min-height: 30px
    margin-bottom: 20px
