.container {
  position: relative;
  height: 100%;
  width: 100%;
}
.cover {
  /*width: 153px;*/
  border-radius: 5px;
}
.title {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 22px;
  color: #fff;
  margin-bottom: 20px;
  margin-left: 20px;
  font-weight: 300;
}
