.container {
  position: relative;
}
.label {
  width: 100%;
  display: inline-block;
  font-size: 17px;
  line-height: 40px;
}
.start {
  display: inline-block;
  width: 50%;
}
.end {
  display: inline-block;
  width: 50%;
}
