@import "~styles/color.sass"

.notify-activity-border
  border-bottom: 1px solid $global-lineColor
  margin: 30px 10px 30px 10px
.notify-activity-icon
  float: left
  display: inline-block
  width: 60px
  height: 50px
  text-align: center
.notify-activity-content
  margin-top: 10px
  margin-left: 70px
  a.notify-activity-link
    color: $global-blackColor
    cursor: pointer
    &:hover
      color: $global-primaryColor
      text-decoration: underline

  .notify-activity-time
    margin: 10px 0px 20px 0px
    color: $global-placeholder
