$alert-panel-color: #FDDCDC
$alert-text-color: #F45151

.container
  background: $alert-panel-color
  padding: 12px 18px
  font-size: 16px
  line-height: 22px
  border-radius: 5px
  .icon
    width: 25px
    float: left
    color: $alert-text-color
    > svg
      vertical-align: top !important
  .text
    margin-left: 25px
    color: $alert-text-color
