.container
  position: relative
  .icon, .text
    display: inline-block
    vertical-align: middle
  .icon
    width: 30px
    color: #999
  .text
    font-size: 18px
    font-weight: 600
    color: #999
