.container
  display: inline-block
  height: 50px
  width: 50px
  background-color: rgba(0, 0, 0, 0.6)
  border-radius: 50%
  position: absolute
  top: 50%
  margin-top: -25px
  &.coverAlign
    top: 33%
  &:hover
    background-color: rgba(0, 0, 0, 0.8)
  &.left
    left: 0
    z-index: 1
    margin-left: -10px
  &.right
    right: 0
    margin-right: -10px
  > svg
    color: #fff
