.container
  min-height: 45px
  width: 100%
  position: relative
  .user
    padding: 0
  .contact
    position: absolute
    right: 0
    top: 0
    border: 1px solid #666
    padding: 6px 16px
    border-radius: 4px
    .icon
      display: inline-block
      width: 33px
      height: 33px
      background: url('./talk-bubble.png') center/cover no-repeat
