.container
  width: 700px
  background: url(./img_order_2_bg.jpg) center center/cover no-repeat
  .title-container
    padding: 15px 24px 0px 24px
    .title
      margin-left: 50px
      line-height: 35px
      color: #FFFFFF
      font-size: 18px
      font-weight: 400
  .body-content
    padding: 8px 24px 0px 24px
    color: #FFFFFF
    font-size: 16px
    font-weight: 200
