.selection
  .title
    font-size: 20px
    padding: 30px 25px 10px 25px
    .prev
      display: inline-block
  .options
    width: 100%
    padding-top: 10px
    .leafOption
      width: 25%
    .rootOption
      width: 20%

.option
  display: inline-block
  padding: 0 15px 10px 15px
  text-align: center
  .optioner
    cursor: pointer
    padding: 5px
    &:hover
      background-color: #ddd
.leafOption
  composes: option
.rootOption
  composes: option
