@import "~styles/color.sass"

.charge-type
  display: inline-block
  margin-right: 20px

.container
  position: relative
  margin-top: 60px
  .dates, .unit
    display: inline-block
    vertical-align: middle
  .dates
    width: 320px
  .currency-block
    width: 300px
  .unit
    width: 150px
  .reservation-days
    width: 230px
  .discounts-container
    .discount
      width: 300px
