.container
  margin-bottom: 25px
  &.fetching
    position: relative
  .item-card
    width: 246px
    display: inline-block
    margin-bottom: 50px
  .load-more-container
    text-align: center
    padding: 20px 0
