@import "~styles/color.sass"

.noticeList
  margin: 0
  padding-left: 30px
  margin-bottom: 30px
  & > li
    font-size: 16px
    line-height: 26px
.option
  margin-bottom: 20px
.option-label
  margin-left: 10px
.assign-address
  margin-left: 20px
  .assign-cityarea
    width: 300px
    margin-bottom: 20px
  .assign-address-detail
    width: 500px
.seven-content
  margin-left: 30px
  .seven-button
    margin-top: 20px
    color: $global-hoverColor
    border: 1px solid $global-hoverColor
    border-radius: 6px
    padding: 10px 20px 10px 20px
  .seven-result
    font-weight: 200
    margin-top: 10px
