.title
  font-size: 40px
  margin: 0
  margin-bottom: 4px

.container
  position: relative

.noticeList
  margin: 0
  padding-left: 30px
  margin-bottom: 30px
  & > li
    font-size: 16px
    line-height: 26px

.gallery
  position: relative
  margin-bottom: 40px
  .imageDropzone
    float: left
    &:not(:last-child)
      margin-right: 20px
