.cityHeader
  width: 100%
  padding-top: 5px
  .backCitiesBtn
    display: inline-block
    cursor: pointer
    vertical-align: middle
  .cityText
    vertical-align: middle
    font-size: 22px


.citiesOuter
  position: relative
  padding-bottom: 10px
  .cityCol
    width: 20%
    padding: 10px 10px 0 10px
    float: left
    text-align: center
    cursor: pointer
    &:hover
      color: #777
