@import "./input.sass"
$controllerWidth: 39px
$arrowBgColor: #999
$arrowHoverBgColor: #ABABAB
$arrowActiveBgColor: #666
$arrowDisableBgColor: #888

.inputOuter
  composes: inputer
  position: relative

.inputOuterFocusing
  composes: inputOuter
  border-color: $inputFocusingBorderColor
  box-shadow: $inputFocusingShadow

.input
  border: 0
  padding: 0
  margin: 0
  outline: 0
  width: 100%
  height: 100%
  border-radius: $inputRadius - $inputBorderWidth
  padding: $inputPaddingTop ($inputPaddingRight + $controllerWidth) $inputPaddingTop $inputPaddingRight

.controller
  width: $controllerWidth
  display: inline-block
  position: absolute
  right: 0
  top: 0
  bottom: 0

.arrow
  position: relative
  width: 100%
  height: 50%
  display: block
  background: $arrowBgColor
  text-align: center
  transition: all 0.1s
  cursor: pointer
  &:hover
    background: $arrowHoverBgColor
  &:active
    background: $arrowActiveBgColor
  &:disabled
    background: $arrowDisableBgColor
    cursor: default

.up
  composes: arrow
  border-top-right-radius: $inputRadius - $inputBorderWidth

.down
  composes: arrow
  border-bottom-right-radius: $inputRadius - $inputBorderWidth
