@import "~styles/color.sass"

.header-note-container
  margin-bottom: 80px

.coupons-container
  width: 292px

.assign-container
  position: relative
  font-size: 18px
  padding: 30px 0
  .assign-type
    font-weight: 500
    margin-bottom: 20px
  .assign-content
    .address-label
      color: $global-blackColor
    .address
      color: $global-primaryColor
    .assign-address
      margin-top: 20px


.city-area-container
  width: 300px
  margin-bottom: 10px
