.citiesOuter
  position: relative
  padding-bottom: 10px
  .cityCol
    width: 20%
    padding: 10px 10px 0 10px
    float: left
    text-align: center
    cursor: pointer
    &:hover
      color: #777
