$global-primaryColor: #31ABBA
$global-orangeColor: #FF9442
$global-hoverColor: #53BECE
$global-activeColor: #1991A0
$global-blackColor: #333
$global-placeholder: #999
$global-lineColor: #CECECE
$header-search-result-hover: #EDF5F6
$global-colorDanger: #F26363
$global-colorHeart: #FD5053
