@import "./color.sass";

:export {
  primaryColor: $global-primaryColor;
  orangeColor: $global-orangeColor;
  hoverColor: $global-hoverColor;
  activeColor: $global-activeColor;
  blackColor: $global-blackColor;
  middleBlack: $global-middleBlack;
  placeholder: $global-placeholder;
  lineColor: $global-lineColor;
  headerSearchResultHover: $header-search-result-hover;
  colorDanger: $global-colorDanger;
  colorHeart: $global-colorHeart;
}
