$inputRadius: 5px

$inputBorderWidth: 1px
$inputBorderColor: #CECECE
$inputFocusingBorderColor: #999

$inputHeight: 46px
$inputLineHeight: 23px

$inputTextSize: 18px
$inputTextColor: #333
$inputPlaceholderColor: #999

$inputPaddingRight: 20px
$inputPaddingTop: 10px
$inputFocusingShadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(0, 0, 0, 0)

$placeholderColor: #949494
$focusingPlaceholderColor: #ddd

$disabledBgColor: #e9e9e9
$disabledColor: #b8b8b8

$hasErrorBorderColor: #F45151


.inputer
  width: 100%
  height: $inputHeight
  line-height: $inputLineHeight
  font-size: $inputTextSize
  font-weight: 300
  border: 1px solid $inputBorderColor
  border-radius: $inputRadius
  color: $inputTextColor
  &::placeholder
    font-weight: 300
