.form-group
  margin-top: 40px
  margin-bottom: 40px
  font-size: 18px
  .active-container
    padding: 20px 0 40px 0
    .active-text
      margin-left: 10px
  .cancel-policy-input
    .text
      font-size: 18px
    .advance-days
      display: inline-block
      width: 130px
      margin: 0 10px
    .rate
      display: inline-block
      width: 185px
      margin: 0 10px
