@import "~styles/color.sass"

.board-border
  border: 1px solid $global-lineColor
  margin-bottom: 10px
  &.colored
    background-color: #FFF7F2
.header-section
  height: 72px
  margin-left: 40px
  margin-right: 40px
  border-bottom: 1px solid $global-lineColor
.header-avatar-style
  display: inline-block
  padding-top: 16px
  padding-bottom: 16px
  float: left
.header-name-style
  display: inline-block
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  color: $global-middleBlack
  padding-left: 10px
  margin-top: 25px
  max-width: 400px
  font-weight: 600
  font-size: 17px
  &:hover
    color: $global-hoverColor
  &:active
    color: $global-activeColor
.mini-note-section
  float: right
  margin-top: 25px
  color: $global-primaryColor
.header-chat-style
  display: inline-block
  vertical-align: top
  margin: 20px 0px 0px 10px
.body-section
  margin-left: 40px
  margin-right: 40px
  border-bottom: 1px solid $global-lineColor
.pic-style
  padding-top: 20px
  float: left
.content-style
  margin-left: 140px
  padding-top: 20px
  padding-bottom: 40px
.date-style
  font-size: 16px
  font-weight: 400
  color: $global-primaryColor
.text-style
  padding-top: 5px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  padding-bottom: 25px
  font-size: 20px
  font-weight: 400
  color: $global-blackColor
.hint-style
  padding-top: 10px
  font-size: 14px
  font-weight: 400
  color: $global-placeholder
.price-section
  padding-top: 5px
.unit-style
  color: $global-placeholder
  display: inline-block
  float: left
.price-style
  display: inline-block
  float: right
  font-size : 20px
  color : #31abba
  font-weight: 600
.footer-section
  margin-left: 40px
  margin-right: 40px
.hint-section
  float: left
  width: 370px
  margin-Top: 15px
  margin-left: 40px
  margin-bottom: 15px
  color: $global-placeholder
.action-section
  margin-right: 40px
  margin-top: 15px
  margin-bottom: 15px
  display: inline-block
  float: right
