@import "~styles/color.sass"

.oib-board-border
  border: 1px solid $global-lineColor
  margin-bottom: 10px
  &.colored
    background-color: #FFF7F2
.oib-header-section
  line-height: 72px
  margin-left: 40px
  margin-right: 40px
  border-bottom: 1px solid $global-lineColor
.oib-header-avatar-style
  display: inline-block
  padding-top: 16px
  padding-bottom: 16px
  float: left
.oib-header-name-style
  display: inline-block
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  padding-left: 10px
  font-weight: 600
  font-size: 17px
.oib-mini-note-section
  float: right
  color: $global-primaryColor
.oib-header-chat-style
  display: inline-block
  vertical-align: top
  padding-left: 10px
  width: 75px
.oib-body-section
  margin-left: 40px
  margin-right: 40px
  border-bottom: 1px solid $global-lineColor
.oib-pic-style
  padding-top: 20px
  float: left
.oib-content-style
  margin-left: 140px
  padding-top: 20px
  padding-bottom: 40px
.oib-date-style
  font-size: 16px
  font-weight: 400
  color: $global-primaryColor
.oib-text-style
  padding-top: 5px
  white-space: nowrap;
  overflow: hidden
  text-overflow: ellipsis
  padding-bottom: 25px
  font-size: 20px
  font-weight: 400
  color: $global-blackColor
.oib-hint-style
  padding-top: 10px
  font-size: 14px
  font-weight: 400
  color: $global-placeholder
.oib-price-section
  padding-top: 5px
.oib-unit-style
  display: inline-block
  float: left
.oib-price-style
  display: inline-block
  float: right
  font-size : 20px
  color : $global-primaryColor
  font-weight: 600
.oib-footer-section
  margin-left: 40px
  margin-right: 40px
.oib-hint-section
  float: left
  width: 370px
  margin-Top: 15px
  margin-left: 40px
  margin-bottom: 15px
  color: $global-placeholder
.oib-action-section
  margin-right: 40px
  margin-top: 15px
  margin-bottom: 15px
  display: inline-block
  float: right
