.container
  padding: 0

.details
  padding: 0
  .name
    span
      line-height: 38px
      font-size: 34px
      margin-right: 20px
    .follow
      vertical-align: top
      padding: 9px 14px
      line-height: 18px
      font-size: 18px
      border: 1px solid #666
      border-radius: 4px

  .sub-header
    margin: 5px 0
    color: #666
    font-size: 16px
    font-weight: 300
    line-height: 20px
  .marks
    padding: 0
    .score
      padding: 0
    .verifies
      padding: 0

.avatar
  padding: 0
