@import "~styles/color.sass"
// TODO: globle color

.button
  font-size: 20px
  width: 200px
  padding: 15px
  height: 50px
  border-radius: 5px
  margin-bottom: 40px
  background: #E9E9E9
  color: #B9B9B9
  cursor: pointer
  &.active
    color: #fff
    background: #FF9442
    &:hover
      background: #FFB34F
    &:active
      background: #F57C00
  &.disabled
    cursor: default
  .loading-icon
    margin-right: 10px
    display: inline-block
