.container
  padding: 20px 0
  border-bottom: 1px solid #999
  .inner
    position: relative
    .avatar
      position: absolute
      top: 0
      left: 0
      width: 60px
      height: 60px
      border-radius: 50%
      background-color: #888
    .content-wrapper
      margin-left: 80px
      font-size: 16px
      .header
        margin-bottom: 20px
        .name
          font-weight: 600
          margin-right: 10px
        .relative-time
          color: #999
      .content
        color: #444
