@import "~styles/color.sass"


.container
  color: #fff
  font-size: 36px
  font-size: 20px
  line-height: 20px
  background-color: $global-blackColor
  padding: 10px 20px
  .price
    font-size: 36px
    line-height: 50px
    font-family: "Helvetica Neue"
    font-weight: 600
