.container {
  position: relative;
}
.bg {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(0,0,0,0) 50%, rgba(0,0,0, .53));
}
.context {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 40px;
}
.breadcrumb {
  position: relative;
  color: white;
}
.arrow {
  margin-left: 10px;
  margin-right: 10px;
}
.title {
  color: white;
  position: relative;
}
.title > h1 {
  font-weight: 300;
}
.icon {
  margin-right: 10px;
}
