// @author: vincent
@import "~styles/color.sass"

.container
  position: relative
  margin: 62px 0
  color: $global-blackColor
  .title
    margin-bottom: 27px
    color: $global-blackColor
    font-size: 24px
    font-weight: 400
  .description
    width: 612px
    font-size: 18px
    line-height: 28px
    margin-bottom: 40px
    color: $global-blackColor
