.navbar-header {
  float: left;
  padding: 7px;
}
.brand {
  width: 60px;
  height: 60px;
  background-image: url('./logo.png');
  background-position: center;
  background-size: cover;
}
.navbar {
  width: auto;
  display: block;
  height: auto;
  padding-bottom: 0;
  overflow: visible;
}
.navs-search {
  padding-left: 20px;
  float: left;
  margin: 0;
  list-style: none;
}
.search-input {
  height: 34px;
  width: 300px;
  font-size: 15px;
  margin: 20px;
  outline: 0;
  border: 0;
}
.nav {
  display: block;
  float: left;
  padding: 28px;
  font-size: 15px;
}
.navs-right {
  float: right;
  margin: 0;
  list-style: none;
}
