@import "~styles/color.sass"

.container
  padding: 10px 20px 20px 20px
  .input
    width: 220px
    margin: 12px 0
  .controller
    margin-top: 30px
    .cancel-button
      color: $global-blackColor
      &:hover
        & > span
          border-bottom: 1px solid $global-blackColor
    .apply-button
      float: right
      color: $global-primaryColor
      &:hover
        & > span
          border-bottom: 1px solid $global-primaryColor
