@import "~styles/color.sass"

.container
  background: #fff
  border-top: 1px solid $global-lineColor
  height: 100%
  .input
    padding: 13px
    height: 80px
    overflow-y: auto
    .input-text-area
      margin: -3px
      font-size: 14px
      resize: none
      outline: 0
      border: 0
      width: 100%
      min-height: 100%
  .controllers
    background: #fff
    border-bottom: 1px solid $global-lineColor
    .button
      font-size: 15px
      padding: 7px
      margin: 7px
