@import "~styles/color.sass"

.container
  background: #fff
  border-top: 1px solid $global-lineColor
  padding: 10px
  height: 100%
  .input
    height: 60%
    overflow-y: auto
    .input-text-area
      resize: none
      outline: 0
      border: 0
      width: 100%
      min-height: 100%
  .controllers
    background: #fff
    .button
      font-size: 15px
      padding: 10px
      margin-top: 10px
    .submit-button
      font-size: 16px
      border-radius: 5px
      padding: 7px 13px
      margin-top: 9px
      background-color: $global-primaryColor
      color: #fff
      float: right
