@import "~styles/color.sass"

.no-data
  padding: 0 20px
  font-size: 13px
  color: $global-blackColor

.option-container
  .name
    overflow: hidden
    line-height: 1.2em
    max-height: 2.4em
    text-overflow: ellipsis
    white-space: normal
    word-wrap: break-word
  .price
    font-weight: 500
  .expire-date
    font-size: 14px
