.container
  position: relative

.title
  font-size: 40px
  margin: 0
  margin-bottom: 4px

.noticeList
  margin: 0
  padding-left: 30px
  margin-bottom: 30px
  & > li
    font-size: 16px
    line-height: 26px

.gallery
  .imageUploader
    display: inline-block
    height: 160px
    width: 160px
    border: 1px dashed #949494
    &:not(:last-child)
      margin-right: 20px
  .splitline
    width: 520px
    border-bottom: 1px solid #949494
    margin-top: 50px
    margin-bottom: 50px

.control
  position: relative
