@import "~styles/color.sass"

.score-rating-title-section
  border-bottom: 1px solid $global-lineColor
  text-align: center
  font-weight: 400
  font-size: 30px
  margin-top: 10px
  color: $global-blackColor
.score-rating-photo-section
  padding-top: 30px
  height: 130px
  width: 100px
  margin: 0 auto
.score-rating-name-section
  padding-top: 20px
  line-height: 30px
  font-weight: 500
  font-size: 18px
  text-align: center
.score-rating-star-section
  padding-top: 20px
  line-height: 30px
  width: 152px
  margin: 0 auto
.score-rating-comment-section
  padding-top: 20px
  margin: 10px 30px 10px 30px
.score-rating-action-section
  padding: 0px 30px 80px 30px
.score-rating-left-button
  float: left
  padding-left: 33px
.score-rating-right-button
  float: right
  padding-right: 33px
