.imageDrop
  position: relative
  display: block

.imageDropped
  composes: imageDrop
  background: #fff center center/cover no-repeat
  border: 1px solid #e8e8e8
  cursor: move

.ctrlGroups
  position: absolute
  padding: 5px
  right: 0
  top: 0
  .ctrlIcon
    display: inline-block
    text-align: center
    background: #333
    cursor: pointer
    padding: 5px
    height: 26px
    width: 26px
    border-radius: 26px
    transition: background-color 200ms ease
    &:not(:last-child)
      margin-right: 5px
    &:hover
      background: red
