@import "~styles/color.sass"

.assign-container
  position: relative
  font-size: 18px
  padding: 20px 0
  .service-location-container
    width: 200px
    margin-bottom: 30px
  .city-area-container
    width: 270px
    margin-bottom: 10px
  .assign-type
    font-weight: 500
    margin-bottom: 20px
  .assign-content
    .address-label
      color: $global-blackColor
    .address
      color: $global-primaryColor
    .assign-address
      margin-top: 20px
