@import "~styles/color.sass"

.radio-group
  margin-bottom: 60px
  .radio-container
    margin-bottom: 30px

.atm-detail-container
  margin-bottom: 60px
  .bank-container
    .bank-name
      color: $global-blackColor
      font-size: 18px
      line-height: 40px
      margin-right: 50px
  .helper-text
    font-size: 16px
    line-height: 22px
    color: $global-middleBlack

.radio-label
  font-size: 18px
  line-height: 21px
  color: $global-blackColor
.label-helper
  font-size: 17px
  line-height: 25px
  color: $global-middleBlack
