.container
  padding: 15px 0

.loading, .noResult
  position: absolute
  top: 50%
.loading
  left: 50%
  margin-left: -15px
  margin-top: -15px
.noResult
  text-align: center
  margin-top: -28px
  left: 0
  right: 0
  color: #b5b5b5
  .noResultText
    line-height: 16px
    font-size: 16px
