@import "~styles/color.sass"

.container
  list-style: none
  margin: 0
  padding: 0
  .list-item
    padding: 13px 30px 13px 55px
    cursor: pointer
    color: $global-blackColor
    line-height: 16px
    font-size: 15px

    &:hover
      background: $global-primaryColor
      transition: background-color .5s ease-out
      color: #fff
    &.active
      background: $global-primaryColor
      color: #fff
