@import "~styles/color.sass"

.sue-detail-content-border
  font-weight: 400
  font-size: 18px
  .sue-detail-top-title
    line-height: 40px
    text-align: center
    vertical-align: middle
    border-bottom: 1px solid $global-lineColor
  .sue-detail-type-content
    margin-top: 40px
    text-align: center
    vertical-align: middle
    line-height: 40px
  .sue-detail-status-content
    width: 80px
    margin: 0 auto
    font-weight: 200
    font-size: 14px
    padding: 5px 10px 5px 10px
    border-radius: 5px
    text-align: center
    vertical-align: middle
    background: $global-colorDanger
    color: #FFFFFF
  .sue-detail-info-content
    margin-top: 15px
    margin-left: 30px
    font-weight: 200
  .sue-detail-reason-content
    font-size: 14
    font-weight: 200
