.container
  position: relative
  margin: 50px 0
  color: #333

.header h2
  font-size: 26px
  font-weight: 400

.body
  width: 612px
  font-size: 20px
  line-height: 28px
  margin-bottom: 30px

.footer
  position: relative
  width: 100%
  min-height: 50px
  .showall-btn
    width: 100%
    height: 50px
    background-color: transparent
    margin: 0
    padding: 0
    border-radius: 4px
    border: 1px solid #d8d7d7
    outline: 0
    cursor: pointer
    .showall-text
      font-size: 18px
      font-weight: 400
      color: #888
