%h1 Listing ajax_categories

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @ajax_categories.each do |ajax_category|
      %tr
        %td= link_to 'Show', ajax_category
        %td= link_to 'Edit', edit_ajax_category_path(ajax_category)
        %td= link_to 'Destroy', ajax_category, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Category', new_ajax_category_path
