@import "~styles/color.sass"
@import "~styles/input.sass"
$selectionHoverColor: #F6F6F6

.option
  cursor: pointer
  padding: $inputPaddingTop $inputPaddingRight
  &:last-child
    border-bottom: 0
  &:hover
    background: $selectionHoverColor
  &:last-child
    border-bottom-left-radius: $inputRadius
    border-bottom-right-radius: $inputRadius
