/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$category_10_name = 'category_10';
$category_10_x = 118px;
$category_10_y = 0px;
$category_10_offset_x = -118px;
$category_10_offset_y = 0px;
$category_10_width = 118px;
$category_10_height = 118px;
$category_10_total_width = 826px;
$category_10_total_height = 708px;
$category_10_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_10 = 118px 0px -118px 0px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_10';
$category_11_name = 'category_11';
$category_11_x = 472px;
$category_11_y = 236px;
$category_11_offset_x = -472px;
$category_11_offset_y = -236px;
$category_11_width = 118px;
$category_11_height = 118px;
$category_11_total_width = 826px;
$category_11_total_height = 708px;
$category_11_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_11 = 472px 236px -472px -236px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_11';
$category_12_name = 'category_12';
$category_12_x = 0px;
$category_12_y = 118px;
$category_12_offset_x = 0px;
$category_12_offset_y = -118px;
$category_12_width = 118px;
$category_12_height = 118px;
$category_12_total_width = 826px;
$category_12_total_height = 708px;
$category_12_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_12 = 0px 118px 0px -118px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_12';
$category_13_name = 'category_13';
$category_13_x = 118px;
$category_13_y = 118px;
$category_13_offset_x = -118px;
$category_13_offset_y = -118px;
$category_13_width = 118px;
$category_13_height = 118px;
$category_13_total_width = 826px;
$category_13_total_height = 708px;
$category_13_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_13 = 118px 118px -118px -118px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_13';
$category_14_name = 'category_14';
$category_14_x = 236px;
$category_14_y = 0px;
$category_14_offset_x = -236px;
$category_14_offset_y = 0px;
$category_14_width = 118px;
$category_14_height = 118px;
$category_14_total_width = 826px;
$category_14_total_height = 708px;
$category_14_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_14 = 236px 0px -236px 0px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_14';
$category_15_name = 'category_15';
$category_15_x = 236px;
$category_15_y = 118px;
$category_15_offset_x = -236px;
$category_15_offset_y = -118px;
$category_15_width = 118px;
$category_15_height = 118px;
$category_15_total_width = 826px;
$category_15_total_height = 708px;
$category_15_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_15 = 236px 118px -236px -118px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_15';
$category_16_name = 'category_16';
$category_16_x = 0px;
$category_16_y = 236px;
$category_16_offset_x = 0px;
$category_16_offset_y = -236px;
$category_16_width = 118px;
$category_16_height = 118px;
$category_16_total_width = 826px;
$category_16_total_height = 708px;
$category_16_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_16 = 0px 236px 0px -236px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_16';
$category_17_name = 'category_17';
$category_17_x = 118px;
$category_17_y = 236px;
$category_17_offset_x = -118px;
$category_17_offset_y = -236px;
$category_17_width = 118px;
$category_17_height = 118px;
$category_17_total_width = 826px;
$category_17_total_height = 708px;
$category_17_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_17 = 118px 236px -118px -236px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_17';
$category_18_name = 'category_18';
$category_18_x = 236px;
$category_18_y = 236px;
$category_18_offset_x = -236px;
$category_18_offset_y = -236px;
$category_18_width = 118px;
$category_18_height = 118px;
$category_18_total_width = 826px;
$category_18_total_height = 708px;
$category_18_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_18 = 236px 236px -236px -236px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_18';
$category_19_name = 'category_19';
$category_19_x = 354px;
$category_19_y = 0px;
$category_19_offset_x = -354px;
$category_19_offset_y = 0px;
$category_19_width = 118px;
$category_19_height = 118px;
$category_19_total_width = 826px;
$category_19_total_height = 708px;
$category_19_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_19 = 354px 0px -354px 0px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_19';
$category_20_name = 'category_20';
$category_20_x = 354px;
$category_20_y = 118px;
$category_20_offset_x = -354px;
$category_20_offset_y = -118px;
$category_20_width = 118px;
$category_20_height = 118px;
$category_20_total_width = 826px;
$category_20_total_height = 708px;
$category_20_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_20 = 354px 118px -354px -118px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_20';
$category_21_name = 'category_21';
$category_21_x = 354px;
$category_21_y = 236px;
$category_21_offset_x = -354px;
$category_21_offset_y = -236px;
$category_21_width = 118px;
$category_21_height = 118px;
$category_21_total_width = 826px;
$category_21_total_height = 708px;
$category_21_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_21 = 354px 236px -354px -236px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_21';
$category_22_name = 'category_22';
$category_22_x = 0px;
$category_22_y = 354px;
$category_22_offset_x = 0px;
$category_22_offset_y = -354px;
$category_22_width = 118px;
$category_22_height = 118px;
$category_22_total_width = 826px;
$category_22_total_height = 708px;
$category_22_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_22 = 0px 354px 0px -354px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_22';
$category_23_name = 'category_23';
$category_23_x = 118px;
$category_23_y = 354px;
$category_23_offset_x = -118px;
$category_23_offset_y = -354px;
$category_23_width = 118px;
$category_23_height = 118px;
$category_23_total_width = 826px;
$category_23_total_height = 708px;
$category_23_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_23 = 118px 354px -118px -354px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_23';
$category_24_name = 'category_24';
$category_24_x = 236px;
$category_24_y = 354px;
$category_24_offset_x = -236px;
$category_24_offset_y = -354px;
$category_24_width = 118px;
$category_24_height = 118px;
$category_24_total_width = 826px;
$category_24_total_height = 708px;
$category_24_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_24 = 236px 354px -236px -354px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_24';
$category_25_name = 'category_25';
$category_25_x = 354px;
$category_25_y = 354px;
$category_25_offset_x = -354px;
$category_25_offset_y = -354px;
$category_25_width = 118px;
$category_25_height = 118px;
$category_25_total_width = 826px;
$category_25_total_height = 708px;
$category_25_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_25 = 354px 354px -354px -354px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_25';
$category_26_name = 'category_26';
$category_26_x = 472px;
$category_26_y = 0px;
$category_26_offset_x = -472px;
$category_26_offset_y = 0px;
$category_26_width = 118px;
$category_26_height = 118px;
$category_26_total_width = 826px;
$category_26_total_height = 708px;
$category_26_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_26 = 472px 0px -472px 0px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_26';
$category_27_name = 'category_27';
$category_27_x = 472px;
$category_27_y = 118px;
$category_27_offset_x = -472px;
$category_27_offset_y = -118px;
$category_27_width = 118px;
$category_27_height = 118px;
$category_27_total_width = 826px;
$category_27_total_height = 708px;
$category_27_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_27 = 472px 118px -472px -118px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_27';
$category_28_name = 'category_28';
$category_28_x = 0px;
$category_28_y = 0px;
$category_28_offset_x = 0px;
$category_28_offset_y = 0px;
$category_28_width = 118px;
$category_28_height = 118px;
$category_28_total_width = 826px;
$category_28_total_height = 708px;
$category_28_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_28 = 0px 0px 0px 0px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_28';
$category_29_name = 'category_29';
$category_29_x = 472px;
$category_29_y = 354px;
$category_29_offset_x = -472px;
$category_29_offset_y = -354px;
$category_29_width = 118px;
$category_29_height = 118px;
$category_29_total_width = 826px;
$category_29_total_height = 708px;
$category_29_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_29 = 472px 354px -472px -354px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_29';
$category_30_name = 'category_30';
$category_30_x = 0px;
$category_30_y = 472px;
$category_30_offset_x = 0px;
$category_30_offset_y = -472px;
$category_30_width = 118px;
$category_30_height = 118px;
$category_30_total_width = 826px;
$category_30_total_height = 708px;
$category_30_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_30 = 0px 472px 0px -472px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_30';
$category_31_name = 'category_31';
$category_31_x = 118px;
$category_31_y = 472px;
$category_31_offset_x = -118px;
$category_31_offset_y = -472px;
$category_31_width = 118px;
$category_31_height = 118px;
$category_31_total_width = 826px;
$category_31_total_height = 708px;
$category_31_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_31 = 118px 472px -118px -472px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_31';
$category_32_name = 'category_32';
$category_32_x = 236px;
$category_32_y = 472px;
$category_32_offset_x = -236px;
$category_32_offset_y = -472px;
$category_32_width = 118px;
$category_32_height = 118px;
$category_32_total_width = 826px;
$category_32_total_height = 708px;
$category_32_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_32 = 236px 472px -236px -472px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_32';
$category_33_name = 'category_33';
$category_33_x = 354px;
$category_33_y = 472px;
$category_33_offset_x = -354px;
$category_33_offset_y = -472px;
$category_33_width = 118px;
$category_33_height = 118px;
$category_33_total_width = 826px;
$category_33_total_height = 708px;
$category_33_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_33 = 354px 472px -354px -472px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_33';
$category_34_name = 'category_34';
$category_34_x = 472px;
$category_34_y = 472px;
$category_34_offset_x = -472px;
$category_34_offset_y = -472px;
$category_34_width = 118px;
$category_34_height = 118px;
$category_34_total_width = 826px;
$category_34_total_height = 708px;
$category_34_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_34 = 472px 472px -472px -472px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_34';
$category_35_name = 'category_35';
$category_35_x = 590px;
$category_35_y = 0px;
$category_35_offset_x = -590px;
$category_35_offset_y = 0px;
$category_35_width = 118px;
$category_35_height = 118px;
$category_35_total_width = 826px;
$category_35_total_height = 708px;
$category_35_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_35 = 590px 0px -590px 0px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_35';
$category_36_name = 'category_36';
$category_36_x = 590px;
$category_36_y = 118px;
$category_36_offset_x = -590px;
$category_36_offset_y = -118px;
$category_36_width = 118px;
$category_36_height = 118px;
$category_36_total_width = 826px;
$category_36_total_height = 708px;
$category_36_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_36 = 590px 118px -590px -118px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_36';
$category_37_name = 'category_37';
$category_37_x = 590px;
$category_37_y = 236px;
$category_37_offset_x = -590px;
$category_37_offset_y = -236px;
$category_37_width = 118px;
$category_37_height = 118px;
$category_37_total_width = 826px;
$category_37_total_height = 708px;
$category_37_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_37 = 590px 236px -590px -236px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_37';
$category_38_name = 'category_38';
$category_38_x = 590px;
$category_38_y = 354px;
$category_38_offset_x = -590px;
$category_38_offset_y = -354px;
$category_38_width = 118px;
$category_38_height = 118px;
$category_38_total_width = 826px;
$category_38_total_height = 708px;
$category_38_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_38 = 590px 354px -590px -354px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_38';
$category_39_name = 'category_39';
$category_39_x = 590px;
$category_39_y = 472px;
$category_39_offset_x = -590px;
$category_39_offset_y = -472px;
$category_39_width = 118px;
$category_39_height = 118px;
$category_39_total_width = 826px;
$category_39_total_height = 708px;
$category_39_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_39 = 590px 472px -590px -472px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_39';
$category_4_name = 'category_4';
$category_4_x = 0px;
$category_4_y = 590px;
$category_4_offset_x = 0px;
$category_4_offset_y = -590px;
$category_4_width = 118px;
$category_4_height = 118px;
$category_4_total_width = 826px;
$category_4_total_height = 708px;
$category_4_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_4 = 0px 590px 0px -590px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_4';
$category_40_name = 'category_40';
$category_40_x = 118px;
$category_40_y = 590px;
$category_40_offset_x = -118px;
$category_40_offset_y = -590px;
$category_40_width = 118px;
$category_40_height = 118px;
$category_40_total_width = 826px;
$category_40_total_height = 708px;
$category_40_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_40 = 118px 590px -118px -590px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_40';
$category_5_name = 'category_5';
$category_5_x = 236px;
$category_5_y = 590px;
$category_5_offset_x = -236px;
$category_5_offset_y = -590px;
$category_5_width = 118px;
$category_5_height = 118px;
$category_5_total_width = 826px;
$category_5_total_height = 708px;
$category_5_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_5 = 236px 590px -236px -590px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_5';
$category_6_name = 'category_6';
$category_6_x = 354px;
$category_6_y = 590px;
$category_6_offset_x = -354px;
$category_6_offset_y = -590px;
$category_6_width = 118px;
$category_6_height = 118px;
$category_6_total_width = 826px;
$category_6_total_height = 708px;
$category_6_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_6 = 354px 590px -354px -590px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_6';
$category_7_name = 'category_7';
$category_7_x = 472px;
$category_7_y = 590px;
$category_7_offset_x = -472px;
$category_7_offset_y = -590px;
$category_7_width = 118px;
$category_7_height = 118px;
$category_7_total_width = 826px;
$category_7_total_height = 708px;
$category_7_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_7 = 472px 590px -472px -590px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_7';
$category_8_name = 'category_8';
$category_8_x = 590px;
$category_8_y = 590px;
$category_8_offset_x = -590px;
$category_8_offset_y = -590px;
$category_8_width = 118px;
$category_8_height = 118px;
$category_8_total_width = 826px;
$category_8_total_height = 708px;
$category_8_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_8 = 590px 590px -590px -590px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_8';
$category_9_name = 'category_9';
$category_9_x = 708px;
$category_9_y = 0px;
$category_9_offset_x = -708px;
$category_9_offset_y = 0px;
$category_9_width = 118px;
$category_9_height = 118px;
$category_9_total_width = 826px;
$category_9_total_height = 708px;
$category_9_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$category_9 = 708px 0px -708px 0px 118px 118px 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' 'category_9';
$spritesheet_width = 826px;
$spritesheet_height = 708px;
$spritesheet_image = '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png';
$spritesheet_sprites = $category_10 $category_11 $category_12 $category_13 $category_14 $category_15 $category_16 $category_17 $category_18 $category_19 $category_20 $category_21 $category_22 $category_23 $category_24 $category_25 $category_26 $category_27 $category_28 $category_29 $category_30 $category_31 $category_32 $category_33 $category_34 $category_35 $category_36 $category_37 $category_38 $category_39 $category_4 $category_40 $category_5 $category_6 $category_7 $category_8 $category_9;
$spritesheet = 826px 708px '/assets/sprite.8c9f530820cf65e5571d43fef8fcbe53.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
