.container
  .header, .header .all > button
    font-size: 14px
    line-height: 14px
  .header
    padding: 13px 20px
    color: #999
    font-weight: 600
    background: #f9f9f9
    .prev
      margin: -10px 0
    .all
      float: right
      & > button
        color: #31ABBA
  .body
    display: block
