
.alert
  background: #FDDCDC
  padding: 12px 18px
  font-size: 16px
  line-height: 20px
  border-radius: 5px
  display: inline-block
  .alertInner
    position: relative
    .alertIcon
      position: absolute
      top: -2px
      left: 0
    .alertText
      margin-left: 25px
      color: #F45151
