@import "~styles/color.sass"

.description, .verifyCodeLable
  font-size: 16px
  color: $global-middleBlack
.description
  > span, .verify-data, .resend-container
    display: inline-block
    vertical-align: middle
  .verify-data
    color: $global-blackColor
    margin-left: 10px
    margin-right: 10px
    line-height: 1.5
  .resend-container
    width: 130px


.input
  display: inline-block
  width: 100px

.input-label
  margin-top: 20px
  margin-bottom: 20px


.controller
  .verify, .cancel
    display: inline-block
  .verify
    margin-right: 10px
