// @author: vincent
@import "~styles/color.sass"
.container
  .header
    padding: 15px 25px
    text-align: center
    .headerTitle
      text-align: center
      display: inline-block
      vertical-align: middle
      font-size: 18px
      font-weight: 600
    .close
      color: $global-lineColor
      font-size: 20px
      line-height: 20px
      float: right
      cursor: pointer
      &:hover
        color: #000
      svg
        vertical-align: baseline !important
  .body
    padding: 30px
    border-top: 1px solid $global-lineColor
    border-bottom: 1px solid $global-lineColor
    overflow-y: auto
    overflow-x: hidden
    .title,.description
      margin-bottom: 21px
    .category
      position: relative
      .categoryDescription
        margin-bottom: 5px
        color: $global-blackColor
      .categoryButton
        width: 100%
        border: 1px solid $global-lineColor
        height: 46px
        border-radius: 5px
        margin-bottom: 39px
        .buttonDescription
          display: inline-block
          vertical-align: middle
          text-align: left
          width: 490px
        .arrowDown
          display: inline-block
          vertical-align: middle
    .total,.city
      width: 48%
      display: inline-block
      vertical-align: middle
      .totalDescription, .cityDescription
        margin-bottom: 5px
    .total
      margin-right: 20px

  .footer
    padding: 15px 25px
    .buttonGroup
      float: right
      display: inline-block
      .cancelButton
        display: inline
        margin-right: 30px
