.alert
  background: #ffe8e2
  padding: 15px 10px
  font-size: 16px
  line-height: 20px
  border-radius: 4px
  display: inline-block
  .alertInner
    position: relative
    .alertIcon
      position: absolute
      top: -2px
      left: 0
    .alertText
      margin-left: 25px
      color: #696464
