.inputGroup
  composes: inputGroup from '../styles.sass'
.inputHeader
  composes: inputHeader from '../styles.sass'
.inputLimit
  composes: inputLimit from '../styles.sass'
.inputControl
  position: relative
.textareaField
  composes: inputField inputPlaceholder from '../styles.sass'
  width: 100%
  resize: none
