// @author: vincent
@import "~styles/color.sass"
.container
  padding: 20px 0
  border-top: 1px solid $global-lineColor
  position: relative
  .profile
    margin-bottom: 20px
    .image
      display: inline-block
      vertical-align: middle
  .content-wrapper
    font-size: 16px

.content-header
  display: inline-block
  vertical-align: middle
  margin-left: 20px
  .name
    font-weight: 600
    font-size: 17px
    margin-bottom: 10px
  .relative-time
    color: $global-placeholder
    font-size: 15px

.content-textarea
  color: $global-middleBlack
  font-size: 16px
  .displayMore
    border: 0
    margin: 0
    padding: 0
    background-color: transparent
    cursor: pointer
    font-weight: 500
    outline: 0
    &:hover
      text-decoration: underline
