@import "~styles/color.sass"

.container
  width: 450px
  padding: 30px
  border: 1px solid $global-lineColor
  position: relative
  .error
    color: $global-colorDanger
    font-size: 14px
    line-height: 30px
  .close
    position: absolute
    right: 0
    top: 0
    padding-top: 5px
    padding-right: 5px
    color: $global-placeholder
    cursor: pointer
  .loadingOverlay
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
