.imageDrop
  position: relative
  display: block
  height: 160px
  width: 160px

.imageDropped
  composes: imageDrop
  background: #fff center center/contain no-repeat
  border: 1px solid #e8e8e8
  cursor: move

.imageDropzone
  composes: imageDrop
  border: 1px dashed #949494
  cursor: pointer
.imageDropzone:hover
  border: 1px dashed #222
  .coverLabel
    background: rgba(0, 0, 0, 0.46)
    color: #fff
  .cameraLabel
    .noticeHelper
      color: #222

.cameraLabel
  text-align: center
  position: relative
  top: 40px
  .noticeHelper
    margin-top: 10px
    font-size: 15px
    color: #666


.coverLabel
  background: rgba(153, 153, 153, 0.46)
  text-align: center
  padding: 10px
  position: absolute
  bottom: -1px
  left: -1px
  right: -1px



.controller
  position: relative
  position: absolute
  right: 0
  top: 0
  padding: 5px

.controlIcon
  display: inline-block
  background: #333
  text-align: center
  cursor: pointer
  width: 26px
  height: 26px
  padding: 5px
  border-radius: 26px
  transition: background-color 200ms ease
  &:not(:last-child)
    margin-right: 5px
  &:hover
    background: red
