$global-primaryColor: #31ABBA
$global-hoverColor: #53BECE
$global-activeColor: #1991A0
$global-blackColor: #333
$global-placeholder: #999
$global-lineColor: #CECECE
$header-search-result-hover: #EDF5F6
