<div>
  <span>訂單編號：</span>
  <span><%= @order_no %></span>
</div>
<div>
  <span>商品名稱：</span>
  <span><%= @product_desc %></span>
</div>
<div>
  <span>商品介紹：</span>
  <span><%= @product_desc %></span>
</div>
<div>
  <span>付款金額：</span>
  <span><%= @price %></span>
  
</div>
