.container
  position: relative
  border-bottom: 1px solid #999
  padding: 20px 0 20px 0

.options
  height: 20px
  float: right
  margin: 0
  padding: 0
  list-style: none

.option
  float: left
  &:not(:last-child)
    margin-right: 50px

.dropdown-icon
  margin-left: 10px
