@import "~styles/color.sass"

$colorGreen: #31ABBA
$colorGreenHover: #53BECE
$colorGreenActive: #1991A0
$colorOrange: #FF9442
$colorOrangeHover: #FFB34F
$colorOrangeActive: #F57C00
$colorDanger: $global-colorDanger
$colorDangerHover: $global-colorHeart
// TODO: need global color

.button
  color: #fff
  border-radius: 5px
  font-size: 16px
  font-weight: 300
  line-height: 22px
  text-align: center
  &.lg
    padding: 15px 60px
  &.md
    padding: 12px 34px
  &.sm
    padding: 7px 24px

  &.orange
    background: #FF9442
    &:hover
      background: #FFB34F
    &:active
      background: #F57C00

  &.green
    background: $colorGreen
    &:hover
      background: $colorGreenHover
    &:active
      background: $colorGreenActive

  &.greenBorder
    background: #fff
    border-width: 1px
    border-style: solid
    border-color: $colorGreen
    color: $colorGreen
    &:hover
      border-color: $colorGreenHover
      color: $colorGreenHover
    &:active
      border-color: $colorGreenActive
      color: $colorGreenActive

  &.dangerBlank
    color: $global-colorDanger
    &:hover
      color: $colorDangerHover
    &:active
      color: $colorDangerHover

  &.gray
    background: #fff
    border-width: 1px
    border-style: solid
    border-color: $global-lineColor
    color: $global-middleBlack
    &:hover
      background: #fff
      border-color: $global-middleBlack
      color: $global-middleBlack
    &:active
      background: #F0F0F0
      border-color: $global-middleBlack
      color: $global-middleBlack

  &.grayBorder
    background: #fff
    border-width: 1px
    border-style: solid
    border-color: #999
    color: #999
    &:hover
      border-color: #666
      color: #666
    &:active
      border-color: #666
      color: #666


  &.transparent
    border-color: #FFFFFF
    border-width: 1px
    border-style: solid
    &:hover
      border-color: #999999
    &:active
      border-color: #FFFFFF

  &.disabled
    background: #E9E9E9
    color: #B9B9B9
