@import "../../../../components/color.sass"

.container
  position: relative
  .cover
    width: 245px
    height: 245px
    margin-bottom: 15px
  .title
    min-height: 40px
    margin-bottom: 15px
    font-size: 16px
  .price
    font-size: 18px
    font-weight: 600
    margin-bottom: 15px
    color: $global-primaryColor
  .footer
    display: table
    width: 100%
    margin-bottom: 15px




.footer
  display: table
  width: 100%
  margin-bottom: 15px

.footer-row
  display: table-row

.owner
  display: table-cell
  vertical-align: middle
  white-space: nowrap

.user-avatar
  width: 30px
  height: 30px
  display: inline-block
  vertical-align: middle
  margin-right: 5px
  img
    width: 100%
    border-radius: 50%

.username
  height: 30px
  vertical-align: middle

.evaluation
  display: table-cell
  width: 70px
  vertical-align: middle
  text-align: right

.score
  padding: 0
  vertical-align: middle

.mark
  display: inline-block
  vertical-align: middle
  font-size: 20px
