.gallery
  position: relative
  margin-bottom: 40px
  .imageDropzone
    float: left
    &:not(:last-child)
      margin-right: 18px

.imageDropzone
  position: relative
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -webkit-align-items: center
  -ms-flex-align: center
  align-items: center
  background-color: #FFF
  box-sizing: border-box
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  color: #333
  font-weight: 500


.coverLabel
  background: rgba(77, 77, 77, 0.46)
  text-align: center
  padding: 10px
  position: absolute
  bottom: -1px
  left: -1px
  right: -1px
  color: #fff
