$topLineColor: #CECECE

$headerFontSize: 24px
$headerColor: #333
$headerFontWeight: 200
$headerAdditionSize: 18px

$helperTextFontSize: 16px
$helperTextColor: #333
$helperTextMarginToHeader: 6px

.groupContainer
  border-top: 1px solid $topLineColor
  padding: 10px 0 20px 0
  .titleWrapper
    margin-bottom: 20px
    .headerText
      font-size: $headerFontSize
      font-weight: $headerFontWeight
      color: $headerColor
      .multiple
        font-size: $headerAdditionSize
      .optional
        font-size: $headerAdditionSize
    .helperText
      color: $helperTextColor
      font-size: $helperTextFontSize
      margin-top: $helperTextMarginToHeader
