$topLineColor: #CECECE;

$headerFontSize: 24px;
$headerColor: #333;
$headerFontWeight: 200;
$headerAdditionSize: 18px;

$helperTextFontSize: 16px;
$helperTextColor: #333;
$helperTextMarginToHeader: 6px;
