import styles from './styles.sass';.container
  .header
    padding-bottom: 25px
    h1.title
      position: relative
      font-size: 40px
      font-weight: 600
      line-height: 48px
      height: 48px
      color: #666
      margin: 0
      .text
        vertical-align: top
        display: inline-block
        height: 48px
  .body
    position: relative
