@import "~styles/color.sass"

$iconOuterSize: 34px
$iconSize: 25px
$fontWeight: 200
$fontSize: 20px
$errorTextColor: #ff9800

.inputControl
  margin: 10px
  position: relative
  .error
    color: $errorTextColor
    padding: 5px 0 0 10px
    font-size: 14px
  .inputGroup
    padding: 10px 0
    .inputGroupInner
      position: relative
      .icon
        color: $global-primaryColor
        width: $iconOuterSize
        height: $iconOuterSize
        padding: ($iconOuterSize - $iconSize) / 2
        position: absolute
        left: 0
        top: 0
        &.focusing
          color: $global-hoverColor
        svg
          height: $iconSize
          width: $iconSize
      .inputOuter
        padding-left: 10px
        margin-left: 10px
        margin-right: 10px
        &.withIcon
          margin-left: $iconOuterSize
        .input
          margin: 0
          padding: 0
          border: 0
          outline: 0
          width: 100%
          height: $iconOuterSize
          position: relative
          color: $global-blackColor
          font-weight: $fontWeight
          font-size: 20px
          line-height: $iconOuterSize
          &::placeholder
            color: $global-placeholder
      .suffix
        position: absolute
        right: 0
        top: 0
        height: 100%
  .bottomLine
    position: absolute
    bottom: 0
    height: 1px
    width: 100%
    background: $global-primaryColor
    transition: all 300ms ease
    &.focusing
      height: 2px
      background: $global-hoverColor
