@import "~styles/color.sass"

.container
  border: 1px solid $global-lineColor
  width: 228px
  float: left
  margin-bottom: 40px
  .list-container
    list-style: none
    margin: 0
    padding: 16px 0
    .sub-list-container
      list-style: none
      margin: 0
      padding: 0
