ul.container
  padding: 20px 0
  list-style: none
  li.listItem
    display: block
    white-space: nowrap
    padding: 10px 30px
    cursor: pointer
    & > a
      color: #333
      font-size: 14px
    &:hover
      background: #EDF5F6
