.container
  margin-left: 279px
  &.fetching
    position: relative
  .items-container
    margin-left: -26px
    .item-card
      width: 246px
      display: inline-block
      margin-left: 26px
      margin-bottom: 50px
  .load-more-container
    text-align: center
    margin-bottom: 100px
