@import "normalize";
@import "font";
@import "font-awesome";
@import "container";
@import "default";
@import "release_container";
@import "slick-theme";
@import "slick";
@import "spinner-circle";
@import "spinner";
@import "header";
@import "cropper";
@import "rc-slider";
@import "sortable";
@import "app-bundle";

body, button, input, optgroup, select, textarea {
  color: #333;
  font-family: PingFang TC, Microsoft JhengHei, Helvetica, Arial, sans-serif !important;
  font-size: 16px;
}


.cropper-modal {
  background-color: #f2f2f2 !important;
}
.cropper-view-box {
  outline: 0
}

.kep-login-facebook.metro {
  border-radius: 5px !important;
  width: 100%;
  outline: 0;
  text-transform: none;
}

// TODO: scroll hidden
.ReactModal__Body--open {
  overflow-y: hidden !important;
}

::-moz-focus-inner {
  border:0;
}
