@import "normalize.css";
@import "font";
@import "default";
@import "iot/continue_as";
@import "iot/pay";
@import "iot/container";
@import "iot/colors";
@import "iot/login";
@import "iot/registration";

body, button, input, optgroup, select, textarea {
  color: #333;
  font-family: PingFang TC, Microsoft JhengHei, Helvetica, Arial, sans-serif !important;
  font-size: 16px;
}
body {
  background: #DDD;
}


input[disabled] {
  background-color: #eee;
  opacity: 1;
}
