@import "normalize";
@import "font";
@import "font-awesome";
@import "container";
@import "default";
@import "release_container";
@import "slick-theme";
@import "slick";
@import "spinner-circle";
@import "spinner";
@import "header";
@import "cropper";
@import "rc-slider";
@import "sortable";
@import "app-bundle";

body, button, input, optgroup, select, textarea {
  font-family: PingFang TC, Microsoft JhengHei, Helvetica, Arial, sans-serif !important;
  font-size: 16px;
}


.cropper-modal {
  background-color: #f2f2f2 !important;
}
.cropper-view-box {
  outline: 0
}
