@font-face
  font-family: "PingFang TC"
  font-weight: 100
  src: local(".PingFangTC-Ultralight")

@font-face
  font-family: "PingFang TC"
  font-weight: 200
  src: local(".PingFangTC-Thin")

@font-face
  font-family: "PingFang TC"
  font-weight: 300
  src: local(".PingFangTC-Light")

@font-face
  font-family: "PingFang TC"
  font-weight: 400
  src: local(".PingFangTC-Regular")

@font-face
  font-family: "PingFang TC"
  font-weight: 500
  src: local(".PingFangTC-Medium")

@font-face
  font-family: "PingFang TC"
  font-weight: 600
  src: local(".PingFangTC-Semibold")
