.release-wrapper
  position: relative
  .sidebar-left
    width: 220px
    position: absolute
    top: 0
    left: 0
    bottom: 0
    border-left: 1px solid #ddd
    border-right: 1px solid #ddd
  .main
    margin-left: 275px
