.release-wrapper
  position: relative
  .sidebar-left
    height: 100%
    width: 205px
    position: fixed
    z-index: 1000
    top: 0
    // TODO: fixed issue
  .main
    margin-left: 205px
    .content-wrapper
      padding-left: 48px
      margin-right: 253px
