@import "~styles/color.sass"

.detail-container
  font-size: 16px
  line-height: 18px
  margin-bottom: 15px
  .label
    color: $global-middleBlack
  .abandon
    text-decoration: line-through
  .discounted
    color: $global-colorHeart
  .price
    float: right
    .high-light
      color: $global-primaryColor
