.panel
  width: 100%
  padding: 10px 0
  transition: width .25s ease
  vertical-align: top
  white-space: normal

.category
  display: block
  width: 100%
  height: 45px
  padding: 11px 18px
  font-size: 18px
  cursor: pointer
  .text
    display: inline-block
    white-space: nowrap
  .arrow
    display: inline-block
    float: right
  &:hover
    background: #F6F6f6
