.navs-center {
  display: table !important;
  margin: 0 auto !important;
}
.link {
  color: #333;
}
.icon-container {
  width: 54px;
  height: 54px;
  font-size: 38px;
  text-align: center;
}
.name-container {
  text-align: center;
}
.nav {
  padding: 13px 0 13px 85px !important;
}
.nav:first-child {
  padding-left: 0 !important;
}
