@import "~styles/color.sass"

.form-container
  position: relative
  width: 100%
  border: 1px solid $global-lineColor
  padding: 0 50px 30px 50px
  .label
    display: inline-block
    padding-top: 60px
    color: $global-middleBlack
    font-weight: normal
  .input-container
    padding-top: 60px
    .notice
      font-size: 14px
      line-height: 20px
      margin-top: 10px
    .fb-connect
      border: 1px solid $global-blackColor
      border-radius: 5px
      padding: 10px 26px
