@import "~styles/color.sass"

.ordernote-top-padding-style
  padding-top: 20px
.ordernote-pic-style
  float: left
.ordernote-content-style
  margin-left: 120px
  padding-bottom: 20px
  border-bottom: 1px solid $global-lineColor
.ordernote-date-style
  font-size: 16px
  font-weight: 400
  color: $global-primaryColor
.ordernote-text-style
  padding-top: 5px
  white-space: nowrap;
  overflow: hidden
  text-overflow: ellipsis
  font-size: 20px
  font-weight: 400
  color: $global-blackColor
.ordernote-hint-style
  padding-top: 10px
  font-size: 14px
  font-weight: 400
  color: $global-placeholder
