.container
  padding: 9px 80px

  .rotateBtn
    &:not(:last-child)
      margin-right: 10px
    .text
      vertical-align: middle
      font-size: 18px

  .cropBtn
    .text
      vertical-align: middle
      font-size: 18px
  .saveBtn
    float: right
    color: #fff
    height: 36px
    font-size: 16px
    margin-top: -3px
    padding: 0 20px
    background: #333
    border-radius: 2px
    vertical-align: middle
