@import "~styles/z-index.sass"

.container
  position: relative
  display: inline
  .dropdown
    position: absolute
    z-index: $global-z-index-headerDropdown
    display: inline-block
    right: 0
    top: 100%
    margin-top: 20px
    border: 1px solid #CECECE
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2)
    background: #fff
