@import "~styles/color.sass"
@import "~styles/z-index.sass"


.container
  position: fixed
  z-index: $global-zindex-chat
  bottom: 0
  right: 0
  padding-right: 20px

.talk-button
  background: $global-primaryColor
  width: 220px
  font-size: 14px
  line-height: 20px
  padding: 6px 16px
  border-top-left-radius: 5px
  border-top-right-radius: 5px
  color: #fff
  cursor: pointer
  outline: 0
  &:hover
    background: $global-hoverColor
  &:active
    background: $global-activeColor
  .count
    display: inline-block
    line-height: 16px
    min-width: 16px
    border-radius: 8px
    background: #fff
    margin-left: 16px
    color: $global-blackColor
    text-align: center
    font-weight: 600
    padding: 0 4px
