@import "../../components/color.sass"

.navs-search
  padding-left: 20px
  float: left
  margin: 0
  list-style: none

.navbar-container, .navbar-container-shortcut
  display: block

.publishBtn
  color: $global-primaryColor
  border: 1px solid $global-primaryColor
  display: inline-block
  padding: 9px 11px
  margin: -10px 0
  border-radius: 5px
