.colsWrapper
  position: relative
  padding-bottom: 10px
  cursor: default
  .colContainer
    width: 20%
    padding: 10px 10px 0 10px
    float: left
    text-align: center
    .col
      cursor: pointer
      &:hover
        color: #777
