.PanelFull
  width: auto

.Panel
  width: 100%

.category
  padding: 12px 20px
  font-size: 18px
  .text
    display: inline-block
    white-space: nowrap
  .arrow
    display: inline-block
    float: right
