.panel
  width: 100%
  transition: width .25s ease
  vertical-align: top
  white-space: normal

.category
  display: block
  width: 100%
  padding: 12px 20px
  font-size: 18px
  .text
    display: inline-block
    white-space: nowrap
  .arrow
    display: inline-block
    float: right
  &:hover
    background: #999
