.filter
  z-index: 100
  background-color: #fff

.content
  position: relative

.sidebar
  width: 245px
  display: inline-block
  float: left
  top: 260px

.main
  width: 825px
  display: inline-block
  min-height: 800px
