.container
  position: relative

.icon
  display: inline-block
  width: 54px
  height: 54px
  line-height: 54px
  font-size: 40px
  text-align: center
  margin-right: 30px

.title
  display: inline-block
  height: 54px
  line-height: 54px
  font-size: 40px
  font-weight: 500
