// @author: vincent
@import "~styles/color.sass"
.container
  margin-bottom: 30px
  .image, .details
    display: inline-block
    vertical-align: middle
  .details
    margin-left: 30px
    .name
      font-size: 26px
      color: $global-blackColor
      margin-bottom: 10px
      .follow
        display: inline-block
        vertical-align: middle
        padding: 8px 12px
        font-size: 18px
        border: 1px solid $global-primaryColor
        border-radius: 5px
        & > button
          color: $global-primaryColor
    .marks
      .star-text
        display: inline-block
        vertical-align: middle
        font-size: 48px
        color: $global-orangeColor
      .score
        display: inline-block
        vertical-align: middle
        margin-left: 10px
        .sub-header
          margin-left: 2px
          color: $global-middleBlack
          font-size: 14px
          font-weight: 300
        .star
          margin-right: 10px
          vertical-align: middle
        .rating
          display: inline-block
          vertical-align: middle
          font-size: 20px
      .verifies
        display: inline-block
        vertical-align: middle
        line-height: 40px
        .mobile
          font-size: 40px
          vertical-align: middle
          margin-right: 10px
        .email
          font-size: 25px
          vertical-align: middle
          margin-right: 10px
        .facebook
          font-size: 29px
          vertical-align: middle
        .verified-text
          font-size: 20px
          vertical-align: middle
          margin-left: 20px
