$colorOrange: #FF9442
$blackColor: #333

.container
  .identity, .notice, .button
    margin: 10px
  .identity
    color: $colorOrange
    font-size: 18px
  .notice
    margin-bottom: 50px
    color: $blackColor
  .button
    &.bottom
      margin-top: 15px
      padding-top: 30px
      position: relative
      &::before
        content: ""
        border-top: 1px solid #dce0e0
        position: absolute
        left: 0
        right: 0
        top: 0
