@import "~styles/color.sass"

.navs-search
  padding-left: 20px
  float: left
  margin: 0
  list-style: none

.navbar-container, .navbar-container-shortcut
  display: block

.publish-btn
  color: $global-orangeColor !important
  border: 1px solid $global-orangeColor !important
  display: inline-block
  padding: 9px 11px
  margin: -10px 0
  border-radius: 5px

.notice-circle
  background: $global-colorDanger
  border-radius: 50%
  display: inline-block
  width: 10px
  height: 10px
  color: #fff
  text-align: center
  line-height: 20px
  font-size: 10px
  font-weight: 100
  position: absolute
  top: 18px
