@import "~styles/color.sass"

.container
  position: relative
  min-height: 300px
  .header
    position: relative
    .close
      position: absolute
      top: 0
      right: 0
      margin: 10px
      width: 25px
      height: 25px
      display: inline-block
      color: $global-placeholder
      cursor: pointer
      &:hover
        color: $global-middleBlack
  .body
    padding: 20px
    .title
      font-size: 1.4em
      color: $global-blackColor
      text-align: center
      padding-top: 20px
    .content
      .descript
        text-align: center
        color: $global-middleBlack
        padding: 20px 0 30px 0
        font-weight: 300
      .error-message
        margin-bottom: 20px
      .input
        width: 300px
        margin: 0 auto
      margin-bottom: 30px
    .submit
      text-align: center
