@import "~styles/color.sass"

.container
  font-size: 18px
  color: $global-blackColor
  width: 700px
  font-weight: 300
  margin-left: auto
  margin-right: auto
  .header
    padding: 40px 0 16px 0
    h1.title
      position: relative
      font-size: 40px
      font-weight: 600
      line-height: 48px
      height: 48px
      margin: 0
      .text
        vertical-align: top
        display: inline-block
        height: 48px
  .section-content
    position: relative
    border-bottom: 1px solid $global-lineColor
  .section-header
    line-height: 100px
    font-weight: 500
    font-size: 24px
  .section-sub-title
    font-weight: 600
    line-height: 40px
  .padding-40btm-style
    padding-bottom: 40px
  .mini-icon-style
    float: left
    width: 35px
    height: 35px
  .mini-icon-text-style
    font-size: 200
    line-height: 35px
    margin-left: 50px
  .mini-icon-hint-style
    font-size: 200
    color: $global-hoverColor
    line-height: 35px
    margin-left: 50px
    margin-bottom: 40px
  .top_40px_style
    margin-top: 40px
  .seven-container
    margin-top: 0px
    .seven-store
      margin-top: 0px
    .seven-no
      margin-top: 10px
      color: $global-hoverColor
  .shipping-table
    width: 100%
    .shipping-title
      text-align: left
      padding-bottom: 10px
    .shipping-content
      text-align: left
      vertical-align: top
  .space_padding
    height: 40px
  .log-container
    margin-top: 30px
    margin-bottom: 40px
    padding: 20px 20px 20px 20px
    border: 1px solid $global-lineColor
    .log-content
      margin-top: 10px
      .log-text
        display: inline-block
        width: 550px
        line-height: 30px
      .log-time
        width: 100px
        line-height: 30px
  .image-nav
    border: 1px solid $global-lineColor
    color: $global-blackColor
    margin-bottom: 40px
    ul
      list-style: none
      li
        float: left
        cursor: pointer
        color: $global-blackColor
        position: relative
        border-bottom: 8px solid #FFF
        &:hover, &.active
          color: $global-primaryColor
          border-bottom: 8px solid $global-primaryColor
  .no-image
    text-align: center
    margin-bottom: 40px
    color: #999
    padding: 50px 0px
  .gallery
    position: relative
    margin-bottom: 40px
    .imageDropzone
      float: left
      &:not(:last-child)
        margin-right: 18px
  .imageDropzone
    position: relative
    display: -webkit-box
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    -webkit-box-align: center
    -webkit-align-items: center
    -ms-flex-align: center
    align-items: center
    background-color: #FFF
    box-sizing: border-box
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    color: #333
    font-weight: 500
