// @author: vincent
@import "~styles/color.sass"

.loadButton
  padding: 23px 126px
  font-weight: 500
  font-size: 20px
  border-radius: 5px
  background-color: $global-primaryColor
  display: block
  margin: 0 auto
  margin-top: 100px
  margin-bottom: 200px
  color: #fff
