.inputGroup
  margin-bottom: 40px
  .inputHeader
    font-size: 21px
    font-weight: 500
    color: #444
    margin-bottom: 15px
    .inputLimiter
      float: right
      color: #666
      font-weight: 300
    .multiple
      color: #444
    .optional
      color: #666
      font-weight: 300
    .helper
      color: #666
      font-size: 18px
      font-weight: 300
      margin-top: 10px
  .inputControl
    position: relative
