@import "./vars.scss"

.inputGroup
  margin-bottom: 40px
  .inputHeader
    font-size: 16px
    font-weight: 400
    color: $inputHeaderColor
    margin-bottom: 10px
    .inputLimiter
      float: right
    .multiple
      color: $inputHeaderColor
    .optional
      color: $inputHeaderColor
    .helper
      color: $inputHeaderColor
  .inputControl
    position: relative
  .helperBottom
    color: $bottomHelperColor
    font-size: 14px
    margin-top: 10px
