@import "../formGroup.sass"

.inputGroup
  margin-bottom: 40px
  .inputHeaderLarge
    font-size: 24px
    font-weight: 100
    .multiple
      font-size: 20px
      color: $inputHeaderColor
    .helper
      font-size: 16px
      font-weight: 400
      color: #333
  .inputHeader
    .inputLimiter
      float: right
    .optional
      color: $inputHeaderColor
    .helper
      color: $inputHeaderColor
      margin-top: 10px
  .inputControl
    position: relative
  .helperBottom
    color: $bottomHelperColor
    font-size: 14px
    margin-top: 10px

.inputHeader
  composes: header
